body {
    font: 14px/23px proxima-nova-alt, "Proxima Nova Alt", sans-serif;
}

body, div, p, ul, li, span, em, strong, i, h1, h2, h3 {
    font-family: "Verdana", "微软雅黑";
    font-size: 14px;
    margin: 0;
    padding: 0;
}

h2 {
    border-bottom: 2px dashed #d0e8ff;
}

h2, caption {
    /*color: #f08526;*/
    font-size: 15px;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 5px;
    padding: 0 15px;
    text-align: left;
}

h3 {
    border-bottom: 2px solid #d0e8ff;
}

h3, caption {
    /*color: #f08526;*/
    font-size: 15px;
    font-weight: bold;
    line-height: 200%;
    margin-bottom: 5px;
    padding: 0 15px;
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

i, em {
    font-style: normal;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a:link, a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

.messagered {
    /*background: #FF0000;*/
    background: #FA8181;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    float: right;
    margin-top: 3px;
}

    .messagered span {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 2px;
    }

.messageblue {
    background: #1DAEF4;
    border-radius: 50%;
    height: 19px;
    width: 19px;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    float: right;
    margin-top: 3px;
}

    .messageblue span {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        padding-bottom: 2px;
    }

/*========模板页样式========*/


.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#logoutform {
    display: inline;
}

.case {
    background: #FFFFFF;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #4C5359;
    text-align: center;
    font-size: 14px;
}

#divleft {
    vertical-align: top;
    background: #F1F0EE;
    width: 170px;
    height: 100%;
    float: left;
    /*border: 1px solid #E1DFDA;*/
}

#divright {
    vertical-align: top;
    background: #fff;
    margin-left: 228px;
    height: 100%;
}

.personal_l {
    float: left;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 170px;
    background: #F1F0EE;
    border-top: 1px solid #E1DFDA;
    border-left: 1px solid #E1DFDA;
    border-right: 1px solid #E1DFDA;
}

.personal_a {
    float: left;
    padding-top: 5px;
    /*padding-bottom: 20px;*/
    width: 170px;
    background: #F1F0EE;
    border-left: 1px solid #E1DFDA;
    border-right: 1px solid #E1DFDA;
}

.user_info {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

    .user_info_bn a, .user_info a {
        background-clip: padding-box;
        border: 2px solid #e1e1e1;
        border-radius: 50%;
        display: block;
        height: 70px;
        overflow: hidden;
        width: 70px;
    }

        .user_info_bn a img, .user_info a img {
            height: 70px;
            width: 70px;
        }

/*======导航栏======*/
#navpage {
    width: 170px;
    /*line-height: 40px;*/
    list-style-type: none;
    text-align: center;
    background: #F1F0EE;
    color: #000000;
}

    /*====一级目录===*/
    #navpage a {
        width: 170px;
        height:60px;
        display: block;
    }

    #navpage li {
        font-size: 16px;
        height: 60px;
        background: #F1F0EE;
        float: left;
    }

        #navpage li div {
            float: left;
            padding-left: 10px;
            padding-top: 18px;
            font-size: 15px;
            /*color: #666666;*/
        }

    #navpage a:link {
        color: #0F0F0F;
        text-decoration: none;
    }

    #navpage a:visited {
        color: #0F0F0F;
        text-decoration: none;
    }

    #navpage a:hover {
        color: #1DAEF4;
        text-decoration: none;
    }

    #navpage img {
        vertical-align: middle;
    }

    #navpage li.hover_v1 {
        color: #fff;
        background: #006C99;
        width: 170px;
        height: 60px;
        border-left: 1px solid #006C99;
        border-right: 1px solid #006C99;
    }

        #navpage li.hover_v1 a {
            color: #fff;
        }

    #navpage li.hover_v2 {
        border-left: 1px solid #E1DFDA;
        border-right: 1px solid #E1DFDA;
    }

.bag {
    background-image: url('..//Images/Shared/ico_bag.png');
}

/*========页面切换样式1.0========*/
#main {
    padding: 10px;
    margin: 0 auto;
    background: #fff;
    padding-left: 10px;
}

section {
    display: none;
    padding: 5px 0 0;
    /*border-top: 1px solid #ddd;*/
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 8px 15px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    font-size: 15px;
    border: 1px solid #ddd;
}

input:checked + label {
    color: #555;
    /*border: 1px solid #ddd;*/
    border-bottom: 3px solid #1DAEF4;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8,
#tab9:checked ~ #content9,
#tab10:checked ~ #content10,
#tab11:checked ~ #content11,
#tab12:checked ~ #content12,
#tab13:checked ~ #content13,
#tab14:checked ~ #content14,
#tab15:checked ~ #content15,
#tab16:checked ~ #content16,
#tab17:checked ~ #content17,
#tab18:checked ~ #content18,
#tab19:checked ~ #content19,
#tab20:checked ~ #content20,
#tab_1:checked ~ #content_1,
#tab_2:checked ~ #content_2,
#tab_3:checked ~ #content_3,
#tab1:checked ~ #content100,
#tab2:checked ~ #content100,
#tab3:checked ~ #content100,
#tab4:checked ~ #content100,
#tab5:checked ~ #content100,
#tab6:checked ~ #content100 {
    display: block;
}

/*========页面切换样式2.0========*/

/*内容部分*/
.hdbx_content {
    width: 900px;
}

/*定义内容导航部分基础样式*/
.hdbx-tabs-nav {
    height: 36px;
    border-bottom: 4px solid #e1dfdb;
    padding: 0;
    margin: 0;
}

    .hdbx-tabs-nav li {
        height: 36px;
        min-width: 113px;
        list-style: none;
        text-align: center;
        line-height: 32px;
        float: left;
    }

        .hdbx-tabs-nav li div {
            height: 36px;
            width: 110px;
            display: inline-block;
            padding: 0 1px 0 0;
            float: left; /*padding: 0px 4px 0px 4px;;*/
        }

        .hdbx-tabs-nav li > span {
            width: 1px;
            height: 19px;
            display: inline-block;
            background-color: #e1dfdb;
            float: right;
        }

        .hdbx-tabs-nav li > span {
            position: relative;
            top: 8px;
        }

        .hdbx-tabs-nav li div span {
            display: inline-block;
            min-width: 10px;
            padding: 3px 4px;
            font-size: 9px;
            font-weight: 700;
            color: #fff;
            line-height: 1;
            vertical-align: baseline;
            white-space: nowrap;
            background-color: #999;
            border-radius: 50%;
        }

        /*内部圆形字基础样式*/
        .hdbx-tabs-nav li div span {
            position: relative;
            bottom: 2px;
            left: 3px;
        }

        /*nav小图标大小*/
        .hdbx-tabs-nav li .hdbx-tabs-icon {
            height: 20px;
            padding: 0;
            position: relative;
            top: 5px;
        }

    /*内部圆形字位置调整*/
    .hdbx-tabs-nav .fr {
        float: right;
    }

    .hdbx-tabs-nav .hover div {
        border-bottom: 4px solid #17adf4;
    }
/*选中后效果*/

.hdbx-tabs-bd .hdbx-tabs-panel {
    display: none;
}

    .hdbx-tabs-bd .hdbx-tabs-panel:first-child {
        display: block;
    }

/*========分页样式========*/
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

    .pagination > li {
        display: inline;
    }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #E1DFDA;
        }

        .pagination > li:first-child > a, .pagination > li:first-child > span {
            margin-left: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
        }

        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
            background-color: #eee;
        }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #428bca;
        border-color: #428bca;
    }

    .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
        color: #999;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #E1DFDA;
    }

.pagination-lg > li > a, .pagination-lg > li > span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#pagination a:link, #pagination a:visited {
    color: #428BCA;
}

#pagination .active a:link, #pagination .active a:visited {
    color: #FFFFFF;
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

/*========表格样式========*/
.w_1050 {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 1010px;
    height: 100%;
    background: #fff;
    padding-top: 40px;
}

.w_1090 {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
    height: 100%;
    background: #fff;
}

.forecast_table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #E1DFDA;
}

    .forecast_table tbody tr:hover {
        background: #F1F0EE;
    }

    .forecast_table th, .forecast_table td {
        text-align: center;
    }

    .forecast_table thead th {
        background: #F1F0EE;
        font-weight: normal;
        padding: 12px 15px;
    }

    .forecast_table tbody th {
        background: #F8F8F8;
        font-weight: normal;
        padding: 10px 15px;
    }

    .forecast_table th, .forecast_table td {
        border: 1px solid #E1DFDA;
    }

    .forecast_table td {
        padding: 10px 5px;
    }

    .forecast_table a:link, .forecast_table a:visited {
        color: #428BCA;
    }

    .forecast_table a:hover {
        color: #245269;
    }

    .forecast_table span {
        color: #000000;
    }

.tabletable tr {
    padding: 5px 5px;
}

.tabletable thead th {
    background: #F5F8F9;
    border: 1px solid #E4EBEC;
    height: 50px;
    text-align: center;
}

.tabletable thead td {
    background: #FFFFFF none repeat scroll 0 0;
    border: 0px solid #E4EBEC;
    height: 50px;
}

.tabletable tbody td {
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #E4EBEC;
    height: 40px;
}

.tabletable tbody th {
    background: #FFFFFF none repeat scroll 0 0;
    border: 1px solid #E4EBEC;
    height: 40px;
}

/*========按钮样式========*/
.btn_submits, .btn_submit_grey {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: 24px;
    height: 55px;
    margin-top: 15px;
    width: 175px;
}

.btn_submits {
    background: #f07426;
    background: -webkit-gradient(linear, center bottom, center top, from(#f07426), to(#f09c26));
    background: -moz-linear-gradient(90deg, #f07426, #f09c26);
    border: 1px #f07e26 solid;
    border-color: #f07426;
    color: #fff;
}

.btn_submit_grey {
    background: #eeeeee;
    background: -webkit-gradient(linear, center bottom, center top, from(#e2e2e2), to(#eeeeee));
    background: -moz-linear-gradient(90deg, #e2e2e2, #eeeeee);
    border: 1px #e4e4e4 solid;
    border-color: #eeeeee;
    color: #b1b1b1;
    cursor: default;
}

.btn_norg {
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 30px;
}

.btn_norg {
    background: #FFAF35;
}

    .btn_norg:hover {
        background: #ed7b15;
        color: #fff;
    }

.btn_nblue {
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 30px;
}

.btn_nblue {
    background: #3389AD;
}

    .btn_nblue:hover {
        background: #006C99;
        color: #fff;
    }

.btn_nred {
    border: 1px solid red;
    border-radius: 3px;
    color: red;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 15px;
}

.btn_ablue {
    border: 2px solid #CCCCCC;
    border-radius: 0px;
    color: #4D4D4D;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    padding: 4px 20px;
    background: #FFFFFF;
}

.btn_agray {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    color: #4D4D4D;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    padding: 8px 15px;
}

.ckstate {
    border: 1px solid #009DDF;
    border-radius: 3px;
    color: #009DDF;
    cursor: pointer;
    font-family: inherit;
    font-size: 11px;
    padding: 2px 10px;
    background: #FFFFFF;
}

.btn_lightblue {
    border: 1px solid #00B2EE;
    border-radius: 2px;
    color: #00B2EE;
    background: #fff;
    cursor: pointer;
    font-family: inherit;
    font-size: 12px;
    padding: 6px 7px;
}

.btn_ablue_checked {
    border: 2px solid #006C99;
    border-radius: 0px;
    color: #4D4D4D;
    cursor: pointer;
    font-family: inherit;
    font-size: 13px;
    padding: 4px 20px;
    background: #FFFFFF;
}

.btn-info {
    border: 1px #F1F0EE solid;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding: 3px 12px;
}

.btn-info {
    background: #D1D1D1;
}

    .btn-info:hover {
        background: #B9B9B9;
        color: #000000;
    }

.btn-success {
    display: inline-block;
    padding: 2px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*========间距样式========*/
.mg_l_10 {
    margin-left: 10px;
}

.mg_l_20 {
    margin-left: 20px;
}

.mg_l_44 {
    margin-left: 44px;
}

.mg_b_5 {
    margin-bottom: 5px;
}

.mg_b_10 {
    margin-bottom: 10px;
}

.mg_b_20 {
    margin-bottom: 20px;
}

.mg_b_30 {
    margin-bottom: 30px;
}

.mg_b_40 {
    margin-bottom: 40px;
}

.mg_t_5 {
    margin-top: 5px;
}

.mg_t_10 {
    margin-top: 10px;
}

.mg_t_20 {
    margin-top: 20px;
}

.mg_t_30 {
    margin-top: 30px;
}

.mg_r_10 {
    margin-right: 10px;
}

.mg_r_20 {
    margin-right: 20px;
}

.ml5 {
    margin-left: 5px;
}

.fl {
    float: left;
}

/*========弹窗样式========*/
.modal-open {
    overflow: auto;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: auto;
    overflow-y: scroll;
}

.modal-dialog {
    width: 750px;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
}

.modal-dialog {
    position: relative;
    z-index: 1050;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50);
    }

.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    position: relative;
    padding: 20px;
}

.modal-footer {
    padding: 19px 20px 20px;
    margin-top: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer:before, .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer:before, .modal-footer:after {
        display: table;
        content: " ";
    }

    .modal-footer:after {
        clear: both;
    }

    .modal-footer .btn + .btn {
        margin-bottom: 0;
        margin-left: 5px;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

@media screen and (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0.5);
        box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    }
}

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

    .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50);
    }

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

/*========文本/文本框样式========*/
.org {
    color: #f08526;
}

.red {
    color: red;
}

.text-info {
    color: #21B9E6;
}

    .text-info a:link, .text-info a:visited {
        color: #21B9E6;
        text-decoration: none;
    }

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control {
    display: block;
    width: 100%;
    height: 26px;
    padding: 0px 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .form-control:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);
    }

    .form-control:-moz-placeholder {
        color: #999;
    }

    .form-control::-moz-placeholder {
        color: #999;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #999;
    }

    .form-control::-webkit-input-placeholder {
        color: #999;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #eee;
    }

/*========说明框（问号）样式========*/

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1010;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    background-clip: padding-box;
}

    .popover.top {
        margin-top: -10px;
    }

    .popover.right {
        margin-left: 10px;
    }

    .popover.bottom {
        margin-top: 10px;
    }

    .popover.left {
        margin-left: -10px;
    }

.popover-title {
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 9px 14px;
}

.popover .arrow, .popover .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow {
    border-width: 11px;
}

    .popover .arrow:after {
        border-width: 10px;
        content: "";
    }

.popover.top .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0,0,0,0.25);
    border-bottom-width: 0;
}

    .popover.top .arrow:after {
        bottom: 1px;
        margin-left: -10px;
        border-top-color: #fff;
        border-bottom-width: 0;
        content: " ";
    }

.popover.right .arrow {
    top: 50%;
    left: -11px;
    margin-top: -11px;
    border-right-color: #999;
    border-right-color: rgba(0,0,0,0.25);
    border-left-width: 0;
}

    .popover.right .arrow:after {
        bottom: -10px;
        left: 1px;
        border-right-color: #fff;
        border-left-width: 0;
        content: " ";
    }

.popover.bottom .arrow {
    top: -11px;
    left: 50%;
    margin-left: -11px;
    border-bottom-color: #999;
    border-bottom-color: rgba(0,0,0,0.25);
    border-top-width: 0;
}

    .popover.bottom .arrow:after {
        top: 1px;
        margin-left: -10px;
        border-bottom-color: #fff;
        border-top-width: 0;
        content: " ";
    }

.popover.left .arrow {
    top: 50%;
    right: -11px;
    margin-top: -11px;
    border-left-color: #999;
    border-left-color: rgba(0,0,0,0.25);
    border-right-width: 0;
}

    .popover.left .arrow:after {
        right: 1px;
        bottom: -10px;
        border-left-color: #fff;
        border-right-width: 0;
        content: " ";
    }
